a {
    color: #0e84b5;
    font-size: medium;
}
.response-img {
    max-width: 100%;
}
.header {
    background-color: #999999;
    color: white;
    height: 30px;
    padding: 3px;
    font-size: x-small;
    clear: both;
}
.front {
    background-color:greenyellow;
    color:white;
    padding: 20px;
    font-style: oblique;
    font-size: smaller;
}
.list {
    background-color: ThreeDLightShadow;
    width: 78%;
    height: 670px;
    float: right;
    padding: 5px;
    margin: 5px;
}

#nav {
    line-height:30px;
    background-color: #ddffdd;
    height:350px;
    width:20%;
    float:left;
    padding:5px;
}
#banna {
    background-color: transparent;
    width: 78%;
    height: 20px;
    float: left;
    margin: 5px;
    padding: 5px;
}
#recommand {
    line-height:30px;
    background-color: #c7eefe;
    height:350px;
    width:20%;
    float:left;
    padding:5px;
    margin-top: 5px;
}
#footer {
    background-color: #999999;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-size: xx-small;
}
#goods {
    border: 2px #1f1d1d solid;
    float: left;
    width: 10%;
    height: 25%;
    margin: 3px;
}
.c1 {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    background-color: #999999;
    opacity: 0.5;
    z-index: 9;
}

.c2 {
    width: 400px;
    height: 300px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 10;
}

.c3 {
    width: 400px;
    height: 300px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 10;
}
.hide {
    display: none;
}
.b1 {
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.b1 p {
    font-size: small;
}
.timg {
    position: relative;
    background-color: #ddffdd;
    padding: 5px;
    color: black;
}
.timg:hover {
    background-color: darkgray;
}